In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
def save_fig(fig,fig_name,**kwargs):
    # saves the figure to a common folder
    import os
    if not os.path.exists("figures"):
        os.mkdir("figures")
    fig.savefig(fname= "figures/{}".format(fig_name) , **kwargs)
def rms(values):
    # return the Root Mean Square 
    # More info at https://en.wikipedia.org/wiki/Root_mean_square
    return np.sqrt(np.sum(values**2)/len(values))

In [3]:
df = pd.read_pickle("../data/2nd_test_full.pkl")
df.describe()

             b1_ch1        b2_ch2        b3_ch3        b4_ch4     timestamp
count  2.015232e+07  2.015232e+07  2.015232e+07  2.015232e+07  2.015232e+07
mean  -1.942865e-03 -1.559618e-03 -1.638145e-03 -2.959071e-03  1.076873e+09
std    1.210052e-01  9.983306e-02  1.055347e-01  6.141669e-02  1.704337e+05
min   -5.000000e+00 -8.840000e-01 -1.035000e+00 -5.660000e-01  1.076578e+09
25%   -6.100000e-02 -6.800000e-02 -6.800000e-02 -4.200000e-02  1.076726e+09
50%   -2.000000e-03 -2.000000e-03 -2.000000e-03 -2.000000e-03  1.076873e+09
75%    5.900000e-02  6.300000e-02  6.300000e-02  3.700000e-02  1.077021e+09
max    4.998000e+00  1.118000e+00  1.284000e+00  7.060000e-01  1.077168e+09

In [34]:
cols = df.columns.to_list()[0:-1]
cols

['b1_ch1', 'b2_ch2', 'b3_ch3', 'b4_ch4']

In [83]:
len(df.columns)

5

In [49]:
df1 = df.groupby(["timestamp"])[['b1_ch1', 'b2_ch2', 'b3_ch3', 'b4_ch4']].apply(rms).reset_index()
df1.index = pd.to_datetime(df1.timestamp,unit='s')
df1

                      timestamp    b1_ch1    b2_ch2    b3_ch3    b4_ch4
timestamp
2004-02-12 09:32:39  1076578359  0.074179  0.090944  0.109404  0.054103
2004-02-12 09:42:39  1076578959  0.075382  0.093419  0.109817  0.056101
2004-02-12 09:52:39  1076579559  0.076230  0.093718  0.109861  0.056145
2004-02-12 10:02:39  1076580159  0.078724  0.092947  0.110667  0.056807
2004-02-12 10:12:39  1076580759  0.078474  0.095348  0.107506  0.056841
...                         ...       ...       ...       ...       ...
2004-02-19 04:42:39  1077165759  0.725001  0.218294  0.170577  0.148351
2004-02-19 04:52:39  1077166359  0.462012  0.170817  0.177878  0.116630
2004-02-19 05:02:39  1077166959  0.483835  0.193641  0.187405  0.130582
2004-02-19 05:12:39  1077167559  0.002103  0.004018  0.003950  0.002154
2004-02-19 05:22:39  1077168159  0.001533  0.001239  0.001197  0.002124

[984 rows x 5 columns]

In [52]:
plt.style.available

['Solarize_Light2',
 '_classic_test_patch',
 'bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark',
 'seaborn-dark-palette',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'tableau-colorblind10',
 'traffic']

# Plotting the values of the vibration snapshots
The next figure shows the variation of the vibration snapshots during the experiment.  
It has also been added the two values in which supposedly there are failures in the inner and outer ring of the bearings.

In [58]:
%matplotlib widget
with plt.style.context('seaborn-paper'):
    myFmt = mdates.DateFormatter('%d')
    fig,ax = plt.subplots()
    ax.plot(df1.b1_ch1,label = "Bearing 1")
    ax.plot(df1.b2_ch2,label = "Bearing 2")
    ax.plot(df1.b3_ch3,label = "Bearing 3")
    ax.plot(df1.b4_ch4,label = "Bearing 4")
    ax.axhline(y = 0.1617, color='#e72d41', linestyle='dotted',label = "Inner Ring Defect")
    ax.axhline(y = 0.1217, color = "black", linestyle ='dotted', label = "Outer Ring Defect")
    ax.set_xlabel ("Days")
    ax.legend()
    ax.xaxis.set_major_formatter(myFmt)
    ax.grid()
    ax.set_title("RMS of the bearing vibration snapshots")
    save_fig("rms_dataset2.png")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [59]:
df1 = df.abs()
df1 = df1.groupby("timestamp").mean().reset_index()
df1.index = df1.index = pd.to_datetime(df1.timestamp,unit='s')

In [61]:
%matplotlib widget
with plt.style.context('seaborn-paper'):
    myFmt = mdates.DateFormatter('%d')
    fig,ax = plt.subplots()
    ax.plot(df1.b1_ch1,label = "Bearing 1")
    ax.plot(df1.b2_ch2,label = "Bearing 2")
    ax.plot(df1.b3_ch3,label = "Bearing 3")
    ax.plot(df1.b4_ch4,label = "Bearing 4")
    #ax.axhline(y = 0.1617, color='#e72d41', linestyle='dotted',label = "Inner Ring Defect")
    #ax.axhline(y = 0.1217, color = "black", linestyle ='dotted', label = "Outer Ring Defect")
    ax.set_xlabel ("Days")
    ax.legend()
    ax.xaxis.set_major_formatter(myFmt)
    ax.grid()
    save_fig("absmean_dataset2.png")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [70]:
df2 = df.abs()
df2 = df2.groupby("timestamp")[['b1_ch1', 'b2_ch2', 'b3_ch3', 'b4_ch4']].apply(pd.DataFrame.kurt).reset_index()
df2.index= pd.to_datetime(df2.timestamp,unit='s')

In [64]:
df2

      timestamp     b1_ch1    b2_ch2     b3_ch3    b4_ch4
0    1076578359   2.534560  2.177612  10.669788  1.129060
1    1076578959   2.541026  1.576622   4.758304  1.128706
2    1076579559   2.631519  1.802580   9.461296  1.603654
3    1076580159   4.803052  1.674323   9.625981  4.852496
4    1076580759   2.423748  1.490312   5.664555  1.219689
..          ...        ...       ...        ...       ...
979  1077165759  21.779444  5.803086   0.915051  0.716438
980  1077166359   9.534579  3.090729   0.409470  1.451574
981  1077166959  12.881411  1.495030   0.792229  2.052543
982  1077167559   3.638693 -1.871203  -1.935598  1.651970
983  1077168159  -1.725339 -1.770908  -1.632710  1.163463

[984 rows x 5 columns]

In [82]:
%matplotlib widget
with plt.style.context('seaborn-paper'):
    myFmt = mdates.DateFormatter('%d')
    fig,ax = plt.subplots(2,2)
    ax[0,0].plot(df2.b1_ch1,label = "Bearing 1")
    ax[0,1].plot(df2.b2_ch2,label = "Bearing 2")
    ax[1,0].plot(df2.b3_ch3,label = "Bearing 3")
    ax[1,1].plot(df2.b4_ch4,label = "Bearing 4")
    #ax.axhline(y = 0.1617, color='#e72d41', linestyle='dotted',label = "Inner Ring Defect")
    #ax.axhline(y = 0.1217, color = "black", linestyle ='dotted', label = "Outer Ring Defect")
    ax[0,0].set_xlabel ("Days")
    #ax.legend()
    ax[0,0].xaxis.set_major_formatter(myFmt)
    #ax.grid()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …