In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
def save_fig(fig,fig_name,**kwargs):
    import os
    if not os.path.exists("figures"):
        os.mkdir("figures")
    fig.savefig(fname= "figures/{}".format(fig_name) , **kwargs)

In [35]:
df = pd.read_pickle("../data/2nd_test_full.pkl")
df.describe()

             b1_ch1        b2_ch2        b3_ch3        b4_ch4     timestamp
count  2.015232e+07  2.015232e+07  2.015232e+07  2.015232e+07  2.015232e+07
mean  -1.942865e-03 -1.559618e-03 -1.638145e-03 -2.959071e-03  1.076873e+09
std    1.210052e-01  9.983306e-02  1.055347e-01  6.141669e-02  1.704337e+05
min   -5.000000e+00 -8.840000e-01 -1.035000e+00 -5.660000e-01  1.076578e+09
25%   -6.100000e-02 -6.800000e-02 -6.800000e-02 -4.200000e-02  1.076726e+09
50%   -2.000000e-03 -2.000000e-03 -2.000000e-03 -2.000000e-03  1.076873e+09
75%    5.900000e-02  6.300000e-02  6.300000e-02  3.700000e-02  1.077021e+09
max    4.998000e+00  1.118000e+00  1.284000e+00  7.060000e-01  1.077168e+09

In [74]:
df1 = df.abs()
df1 = df1.groupby(["timestamp"]).mean().reset_index()
df1.index = pd.to_datetime(df1.timestamp,unit='s')

In [75]:
df1.describe()

          timestamp      b1_ch1      b2_ch2      b3_ch3      b4_ch4
count  9.840000e+02  984.000000  984.000000  984.000000  984.000000
mean   1.076873e+09    0.080905    0.078532    0.081356    0.047822
std    1.705204e+05    0.040171    0.011779    0.011596    0.009541
min    1.076578e+09    0.001168    0.000767    0.000716    0.001699
25%    1.076726e+09    0.060764    0.074232    0.076830    0.043949
50%    1.076873e+09    0.062005    0.075202    0.078197    0.044523
75%    1.077021e+09    0.083222    0.077462    0.080597    0.048110
max    1.077168e+09    0.453318    0.161011    0.151296    0.119042

In [93]:
df1["revs"] = 2000/60 *(df1.timestamp-df1.timestamp.values[0]) *1e-6
df1

                      timestamp    b1_ch1    b2_ch2    b3_ch3    b4_ch4   revs
timestamp
2004-02-12 09:32:39  1076578359  0.058332  0.071832  0.083244  0.043065   0.00
2004-02-12 09:42:39  1076578959  0.058997  0.074008  0.084439  0.044540   0.02
2004-02-12 09:52:39  1076579559  0.060239  0.074223  0.083922  0.044442   0.04
2004-02-12 10:02:39  1076580159  0.061453  0.073843  0.084462  0.045081   0.06
2004-02-12 10:12:39  1076580759  0.061361  0.075606  0.082837  0.045118   0.08
...                         ...       ...       ...       ...       ...    ...
2004-02-19 04:42:39  1077165759  0.453318  0.161011  0.137444  0.119042  19.58
2004-02-19 04:52:39  1077166359  0.337575  0.132397  0.144997  0.092123  19.60
2004-02-19 05:02:39  1077166959  0.351094  0.152259  0.151296  0.100813  19.62
2004-02-19 05:12:39  1077167559  0.001857  0.003731  0.003656  0.001786  19.64
2004-02-19 05:22:39  1077168159  0.001168  0.000767  0.000716  0.001699  19.66

[984 rows x 6 columns]

# Plotting the values of the vibration snapshots
The next figure shows the variation of the vibration snapshots during the experiment.  
It has also been added the two values in which supposedly there are failures in the inner and outer ring of the bearings.

In [91]:
%matplotlib widget
import matplotlib.dates as mdates
myFmt = mdates.DateFormatter('%d')
fig,ax = plt.subplots(2,1)
ax[0].plot(df1.b1_ch1,label = "Bearing 1")
ax[0].plot(df1.b2_ch2,label = "Bearing 2")
ax[0].plot(df1.b3_ch3,label = "Bearing 3")
ax[0].plot(df1.b4_ch4,label = "Bearing 4")
ax[0].axhline(y = 0.1617, color='#e72d41', linestyle='dotted',label = "Inner Ring Defect")
ax[0].axhline(y = 0.1217, color = "black", linestyle ='dotted', label = "Outer Ring Defect")
ax[0].set_xlabel ("Days")
ax[0].legend()
ax[0].xaxis.set_major_formatter(myFmt)
ax[0].grid()

ax[1].plot(df1.revs)
ax[1].axhline(y = 100e6, color = "black", linestyle = "dotted")
fig.set_size_inches(12,8)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …