In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_pickle("../data/1st_test_full.pkl") #Â first dataset
df2 = pd.read_pickle("../data/2nd_test_full.pkl") # second one
df3 = pd.read_pickle("../data/3th_test_full.pkl") # third one

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44154880 entries, 0 to 44154879
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   b1_ch1     float32
 1   b1_ch2     float32
 2   b2_ch3     float32
 3   b2_ch4     float32
 4   b3_ch5     float32
 5   b3_ch6     float32
 6   b4_ch7     float32
 7   b4_ch8     float32
 8   timestamp  int64
dtypes: float32(8), int64(1)
memory usage: 1.6 GB

In [4]:
df1.describe()

,b1_ch1,b1_ch2,b2_ch3,b2_ch4,b3_ch5,b3_ch6,b4_ch7,b4_ch8,timestamp
count,4.415488e+07,4.415488e+07,4.415488e+07,4.415488e+07,4.415488e+07,4.415488e+07,4.415488e+07,4.415488e+07,4.415488e+07
mean,-1.159463e-01,-1.157034e-01,-1.157602e-01,-1.156510e-01,-1.127604e-01,-1.128767e-01,-1.128493e-01,-1.127207e-01,1.068656e+09
std,9.888998e-02,8.933114e-02,9.482668e-02,7.862779e-02,1.181106e-01,1.215672e-01,9.633911e-02,9.893755e-02,8.468994e+05
min,-1.042000e+00,-1.086000e+00,-9.910000e-01,-8.300000e-01,-5.000000e+00,-5.000000e+00,-3.975000e+00,-3.801000e+00,1.066817e+09
25%,-1.780000e-01,-1.730000e-01,-1.780000e-01,-1.660000e-01,-1.860000e-01,-1.880000e-01,-1.660000e-01,-1.680000e-01,1.067866e+09
50%,-1.150000e-01,-1.150000e-01,-1.150000e-01,-1.150000e-01,-1.120000e-01,-1.120000e-01,-1.120000e-01,-1.120000e-01,1.068916e+09
75%,-5.400000e-02,-5.900000e-02,-5.100000e-02,-6.300000e-02,-3.900000e-02,-3.700000e-02,-6.100000e-02,-5.600000e-02,1.069369e+09
max,7.010000e-01,1.025000e+00,7.280000e-01,5.520000e-01,4.998000e+00,4.724000e+00,3.938000e+00,3.596000e+00,1.069800e+09

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20152320 entries, 0 to 20152319
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   b1_ch1     float32
 1   b2_ch2     float32
 2   b3_ch3     float32
 3   b4_ch4     float32
 4   timestamp  int64
dtypes: float32(4), int64(1)
memory usage: 461.3 MB

In [5]:
df2.describe()

             b1_ch1        b2_ch2        b3_ch3        b4_ch4     timestamp
count  2.015232e+07  2.015232e+07  2.015232e+07  2.015232e+07  2.015232e+07
mean  -1.942865e-03 -1.559618e-03 -1.638145e-03 -2.959071e-03  1.076873e+09
std    1.210052e-01  9.983306e-02  1.055347e-01  6.141669e-02  1.704337e+05
min   -5.000000e+00 -8.840000e-01 -1.035000e+00 -5.660000e-01  1.076578e+09
25%   -6.100000e-02 -6.800000e-02 -6.800000e-02 -4.200000e-02  1.076726e+09
50%   -2.000000e-03 -2.000000e-03 -2.000000e-03 -2.000000e-03  1.076873e+09
75%    5.900000e-02  6.300000e-02  6.300000e-02  3.700000e-02  1.077021e+09
max    4.998000e+00  1.118000e+00  1.284000e+00  7.060000e-01  1.077168e+09

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129515520 entries, 0 to 129515519
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   b1_ch1     float32
 1   b2_ch2     float32
 2   b3_ch3     float32
 3   b4_ch4     float32
 4   timestamp  int64
dtypes: float32(4), int64(1)
memory usage: 2.9 GB

In [6]:
df3.describe()

             b1_ch1        b2_ch2        b3_ch3        b4_ch4     timestamp
count  1.295155e+08  1.295155e+08  1.295155e+08  1.295155e+08  1.295155e+08
mean  -2.366676e-03 -1.921651e-03 -2.073060e-03 -3.345554e-03  1.080315e+09
std    7.441603e-02  8.183451e-02  7.862205e-02  5.735590e-02  1.112661e+06
min   -1.072000e+00 -1.292000e+00 -5.000000e+00 -1.104000e+00  1.078389e+09
25%   -5.100000e-02 -5.600000e-02 -4.900000e-02 -3.900000e-02  1.079352e+09
50%   -2.000000e-03 -5.000000e-03 -2.000000e-03 -2.000000e-03  1.080327e+09
75%    4.600000e-02  5.100000e-02  4.400000e-02  3.200000e-02  1.081275e+09
max    9.640000e-01  9.620000e-01  4.998000e+00  1.082000e+00  1.082249e+09