In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.metrics import RocCurveDisplay
import re
input_path = Path("../data/feature_data")

## Loading the paths to the different features

In [2]:
features_paths = []
for i in input_path.glob("*"):
    if i.is_dir():
        for j in i.glob("*"):
            features_paths.append(j)
data1 = []
data2 = []
data3 = []
for data in features_paths:
    if "1" in re.findall(r"\d+",str(data)):
        data1.append(data)
    elif "2" in re.findall(r"\d+",str(data)):
        data2.append(data)
    else:
        data3.append(data)
data1.sort()
data2.sort()
data3.sort()

## Adding labels to the features dataset
The next parts of this boos will add the labels to the

In [2]:
label_path = Path("../data/pca_results/results_pca.csv")
labels = pd.read_csv(label_path,index_col = "name",parse_dates = ["first_detection"])
labels.drop(columns = ["Unnamed: 0"],inplace = True)
labels

                  data_set_n    thresh     first_detection
name
skew_3                     3  2.480004 2004-04-14 00:41:57
skew_2                     2  2.523988 2004-02-14 05:32:39
skew_1                     1  2.455349 2003-11-20 11:24:03
sfactor_1                  1  2.565126 2003-11-20 15:44:03
sfactor_3                  3  2.498915 2004-04-14 12:41:57
sfactor_2                  2  2.464572 2004-02-14 00:22:39
kurt_3                     3  2.405907 2004-04-14 07:31:57
kurt_2                     2  2.481916 2004-02-14 00:22:39
kurt_1                     1  2.576972 2003-11-21 02:44:03
mean_abs_2                 2  2.513694 2004-02-14 02:32:39
mean_abs_3                 3  2.516569 2004-04-15 13:32:55
mean_abs_1                 1  2.523732 2003-11-20 11:19:03
rolling_avg_20_3           3  2.385908 2004-04-15 17:52:55
rolling_avg_20_2           2  2.521113 2004-02-16 22:12:39
rolling_avg_20_1           1  2.537018 2003-11-20 10:50:35
rolling_avg_50_3           3  2.385077 2004-04-15 18:22:55
rolling_avg_50_2           2  2.570301 2004-02-16 21:52:39
rolling_avg_50_1           1  2.482812 2003-11-20 10:50:35
rolling_avg_30_1           1  2.509159 2003-11-20 10:50:35
rolling_avg_30_2           2  2.546791 2004-02-16 22:12:39
rolling_avg_30_3           3  2.367759 2004-04-15 17:22:55
rolling_avg_10_2           2  2.523636 2004-02-14 03:22:39
rolling_avg_10_3           3  2.440634 2004-04-15 18:02:55
rolling_avg_10_1           1  2.559457 2003-11-20 10:50:35
rms_1                      1  2.555322 2003-11-20 11:19:03
rms_2                      2  2.507719 2004-02-14 02:32:39
rms_3                      3  2.520093 2004-04-15 13:32:55

## Labels data set 1:
The best detection is done in the rolling_avg_50_1 and rolling_avg_30_1. Due to the data, it need to be searched in the dataset no in the labels dataframe

In [3]:
ano1 = pd.read_pickle("../data/pca_results/rolling_avg_50_1_pca_labels.pkl")["2003-11-21":]
ano1.drop_duplicates(inplace = True)
ano1 = ano1.loc[ano1.anomaly == True].index[0]
ano1

Timestamp('2003-11-21 23:36:56')

In [4]:
y1 = pd.DataFrame()
df = pd.read_pickle("../data/feature_data/rms/rms_1.pkl")
df = df.index.values

y1["time"] = df
y1["labels"]= False
y1.loc[y1.time>= ano1, "labels"] = True
y1.index = y1.time
y1.drop(columns = ["time"],inplace = True)
y1.labels.value_counts()

False    1737
True      419
Name: labels, dtype: int64

In [7]:
y1.to_pickle("../data/labels/labels1.pkl")

In [21]:
lol = pd.read_pickle("../data/feature_data/rolling_avg/rolling_avg_50_1.pkl")
lol = lol.join(y1,how = "inner")
lol

                       b1_ch1    b2_ch2    b3_ch3    b4_ch4  labels
timestamp
2003-10-22 10:06:24       NaN       NaN       NaN       NaN   False
2003-10-22 10:09:13       NaN       NaN       NaN       NaN   False
2003-10-22 10:14:13       NaN       NaN       NaN       NaN   False
2003-10-22 10:19:13       NaN       NaN       NaN       NaN   False
2003-10-22 10:24:13       NaN       NaN       NaN       NaN   False
...                       ...       ...       ...       ...     ...
2003-11-25 15:07:32  0.185232  0.190632  0.254090  0.213641    True
2003-11-25 22:13:21  0.185491  0.191475  0.259399  0.214589    True
2003-11-25 22:19:56  0.185728  0.192457  0.265372  0.215510    True
2003-11-25 22:29:56  0.185976  0.193280  0.270689  0.216170    True
2003-11-25 22:39:56  0.186221  0.194436  0.277967  0.217216    True

[2156 rows x 5 columns]

## Labels data set2:
The best detectation of the anomayl is done in the rolling_avg_50_2 feature

In [8]:
ano2 = labels.loc["rolling_avg_50_2"]["first_detection"]
ano2

Timestamp('2004-02-16 21:52:39')

In [9]:
y2 = pd.DataFrame()
df = pd.read_pickle("../data/feature_data/rms/rms_2.pkl")
df = df.index.values

y2["time"] = df
y2["labels"]= False
y2.loc[y2.time>= ano2, "labels"] = True
y2.index = y2.time
y2.drop(columns = ["time"],inplace = True)
y2.labels.value_counts()

False    650
True     334
Name: labels, dtype: int64

In [10]:
y2.to_pickle("../data/labels/labels2.pkl")

## Labels data set3:
The best detectation of the anomayl is done in the rms_3 feature

In [11]:
ano3 = labels.loc["rms_3"]["first_detection"]
ano3

Timestamp('2004-04-15 13:32:55')

In [12]:
y3 = pd.DataFrame()
df = pd.read_pickle("../data/feature_data/rms/rms_3.pkl")
df = df.index.values
y3["time"] = df
y3["labels"]= False
y3.loc[y3.time>= ano3, "labels"] = True
y3.index = y3.time
y3.drop(columns = ["time"],inplace = True)
y3.labels.value_counts()

False    5962
True      356
Name: labels, dtype: int64

In [14]:
y3.to_pickle("../data/labels/labels3.pkl")

In [13]:
df3 =  pd.read_pickle("../data/feature_data/rms/rms_3.pkl")
df3 = df3.join(y3)
df3.loc[df3.labels == True, "label"] = 1
df3.loc[df3.labels == False, "label"] = 0
df3["label"] = df3.label.astype(int)
df3.drop(columns = ["labels"],inplace = True)
df3

                       b1_ch1    b2_ch2    b3_ch3    b4_ch4  label
timestamp
2004-03-04 08:27:46  0.079768  0.096720  0.066390  0.055493      0
2004-03-04 08:32:46  0.078678  0.092008  0.066285  0.053351      0
2004-03-04 08:42:46  0.079815  0.093430  0.069186  0.052703      0
2004-03-04 08:52:46  0.081082  0.092803  0.068637  0.054844      0
2004-03-04 09:02:46  0.079165  0.092829  0.067469  0.053914      0
...                       ...       ...       ...       ...    ...
2004-04-18 00:02:55  0.154785  0.234436  0.495363  0.248081      1
2004-04-18 00:12:55  0.137870  0.207229  0.454466  0.253654      1
2004-04-18 00:22:55  0.147181  0.250657  0.590047  0.279863      1
2004-04-18 00:32:55  0.154482  0.257200  0.758765  0.282174      1
2004-04-18 00:42:55  0.001912  0.002789  0.003966  0.001850      1

[6318 rows x 5 columns]


Model	Accuracy	AUC	Recall	Prec.	F1	Kappa	MCC	TT (Sec)
knn	K Neighbors Classifier	0.9995	0.9980	0.9962	0.9964	0.9962	0.9960	0.9960	0.2580
dt	Decision Tree Classifier	0.9995	0.9980	0.9962	0.9964	0.9962	0.9960	0.9960	0.0050
rf	Random Forest Classifier

In [11]:
df2 =  pd.read_pickle("../data/feature_data/rms/rms_2.pkl")
df2 = df2.join(y2)
df2.loc[df2.labels == True, "label"] = 1
df2.loc[df2.labels == False, "label"] = 0
df2["label"] = df2.label.astype(int)
df2.drop(columns = ["labels"],inplace = True)
df2

                       b1_ch1    b2_ch2    b3_ch3    b4_ch4  label
timestamp
2004-02-12 09:32:39  0.074179  0.090944  0.109404  0.054103      0
2004-02-12 09:42:39  0.075382  0.093419  0.109817  0.056101      0
2004-02-12 09:52:39  0.076230  0.093718  0.109861  0.056145      0
2004-02-12 10:02:39  0.078724  0.092947  0.110667  0.056807      0
2004-02-12 10:12:39  0.078474  0.095348  0.107506  0.056841      0
...                       ...       ...       ...       ...    ...
2004-02-19 04:42:39  0.725001  0.218294  0.170577  0.148351      1
2004-02-19 04:52:39  0.462012  0.170817  0.177878  0.116630      1
2004-02-19 05:02:39  0.483835  0.193641  0.187405  0.130582      1
2004-02-19 05:12:39  0.002103  0.004018  0.003950  0.002154      1
2004-02-19 05:22:39  0.001533  0.001239  0.001197  0.002124      1

[984 rows x 5 columns]

In [12]:
df2.reset_index(drop = True, inplace = True)
df3.reset_index(drop = True, inplace = True)

In [42]:
#latex:ml_class
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

kneigh = KNeighborsClassifier()
dtree = DecisionTreeClassifier()
forest  = RandomForestClassifier()
clasi = [kneigh,dtree,forest]
scaler = MinMaxScaler()

X = df2[["b1_ch1","b2_ch2","b3_ch3","b4_ch4"]].values 
y = df2[["label"]].values
y = np.ravel(y)
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)
for i in clasi:
    i.fit(X_train, y _train)

In [42]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

kneigh = KNeighborsClassifier()
dtree = DecisionTreeClassifier()
forest  = RandomForestClassifier()
clasi = [kneigh,dtree,forest]
scaler = MinMaxScaler()

X = df2[["b1_ch1","b2_ch2","b3_ch3","b4_ch4"]].values 
y = df2[["label"]].values
y = np.ravel(y)
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [48]:
for i in clasi:
    scores = cross_val_score(i, X, y, cv=5)
    print(f"Mean:{scores.mean()}\t Std:{scores.std()}\n")

Mean:0.9022687247487827	 Std:0.12042895305819605

Mean:0.8971304257743705	 Std:0.13340675916956674

Mean:0.8971304257743705	 Std:0.13340675916956674