In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import re
input_path = Path("../data/feature_data")

## Loading the paths to the different features

In [18]:
features_paths = []
for i in input_path.glob("*"):
    if i.is_dir():
        for j in i.glob("*"):
            features_paths.append(j)
data1 = []
data2 = []
data3 = []
for data in features_paths:
    if "1" in re.findall(r"\d+",str(data)):
        data1.append(data)
    elif "2" in re.findall(r"\d+",str(data)):
        data2.append(data)
    else:
        data3.append(data)
data1.sort()
data2.sort()
data3.sort()

## Adding labels to the features dataset
The next parts of this boos will add the labels to the

In [26]:
label_path = Path("../data/pca_results/results_pca.csv")
labels = pd.read_csv(label_path,index_col = "name",parse_dates = ["first_detection"])
labels.drop(columns = ["Unnamed: 0"],inplace = True)
labels

                  data_set_n    thresh     first_detection
name
skew_3                     3  2.480004 2004-04-14 00:41:57
skew_2                     2  2.523988 2004-02-14 05:32:39
skew_1                     1  2.505110 2003-11-20 12:19:03
sfactor_1                  1  2.564991 2003-11-20 15:44:03
sfactor_3                  3  2.498915 2004-04-14 12:41:57
sfactor_2                  2  2.464572 2004-02-14 00:22:39
kurt_3                     3  2.405907 2004-04-14 07:31:57
kurt_2                     2  2.481916 2004-02-14 00:22:39
kurt_1                     1  2.587915 2003-11-21 00:14:03
mean_abs_2                 2  2.513694 2004-02-14 02:32:39
mean_abs_3                 3  2.516569 2004-04-15 13:32:55
mean_abs_1                 1  2.523858 2003-11-20 11:19:03
rolling_avg_20_3           3  2.385908 2004-04-15 17:52:55
rolling_avg_20_2           2  2.521113 2004-02-16 22:12:39
rolling_avg_20_1           1  2.510347 2003-11-20 10:50:35
rolling_avg_50_3           3  2.385077 2004-04-15 18:22:55
rolling_avg_50_2           2  2.570301 2004-02-16 21:52:39
rolling_avg_50_1           1  2.459092 2003-11-20 10:50:35
rolling_avg_30_1           1  2.475171 2003-11-20 10:50:35
rolling_avg_30_2           2  2.546791 2004-02-16 22:12:39
rolling_avg_30_3           3  2.367759 2004-04-15 17:22:55
rolling_avg_10_2           2  2.523636 2004-02-14 03:22:39
rolling_avg_10_3           3  2.440634 2004-04-15 18:02:55
rolling_avg_10_1           1  2.529195 2003-11-20 10:50:35
rms_1                      1  2.546660 2003-11-20 11:19:03
rms_2                      2  2.507719 2004-02-14 02:32:39
rms_3                      3  2.520093 2004-04-15 13:32:55

## Labels data set 1:
The best detection is done in the rolling_avg_50_1 and rolling_avg_30_1. Due to the data, it need to be searched in the dataset no in the labels dataframe

In [39]:
ano1 = pd.read_pickle("../data/pca_results/rolling_avg_50_1_pca_labels.pkl")["2003-11-21":]
ano1.drop_duplicates(inplace = True)
ano1 = ano1.loc[ano1.anomaly == True].index[0]
ano1

Timestamp('2003-11-21 23:36:56')

In [53]:
y1 = pd.DataFrame()
df = pd.read_pickle("../data/feature_data/rms/rms_1.pkl")
df = df.index.values

y1["time"] = df
y1["labels"]= False
y1.loc[y1.time>= ano1, "labels"] = True
y1.index = y1.time
y1.drop(columns = ["time"],inplace = True)
y1.labels.value_counts()

False    1737
True      419
Name: labels, dtype: int64

## Labels data set2:
The best detectation of the anomayl is done in the rolling_avg_50_2 feature

In [40]:
ano2 = labels.loc["rolling_avg_50_2"]["first_detection"]
ano2

Timestamp('2004-02-16 21:52:39')

In [54]:
y2 = pd.DataFrame()
df = pd.read_pickle("../data/feature_data/rms/rms_2.pkl")
df = df.index.values

y2["time"] = df
y2["labels"]= False
y2.loc[y2.time>= ano2, "labels"] = True
y2.index = y2.time
y2.drop(columns = ["time"],inplace = True)
y2.labels.value_counts()

False    650
True     334
Name: labels, dtype: int64

## Labels data set3:
The best detectation of the anomayl is done in the rms_3 feature

In [41]:
ano3 = labels.loc["rms_3"]["first_detection"]
ano3

Timestamp('2004-04-15 13:32:55')

In [55]:
y3 = pd.DataFrame()
df = pd.read_pickle("../data/feature_data/rms/rms_3.pkl")
df = df.index.values
y3["time"] = df
y3["labels"]= False
y3.loc[y3.time>= ano3, "labels"] = True
y3.index = y3.time
y3.drop(columns = ["time"],inplace = True)
y3.labels.value_counts()

False    5962
True      356
Name: labels, dtype: int64

## Training the classifyer